.container_cadastro{
    display: flex;
    flex-direction: column;
}
.formularioDiv{
    flex-direction: column;
    display: flex;
   align-items: center;
    background-color: #F0EFEF;
    gap:15px;
    padding: 40px;
}
.cadastro{
    margin:20px;
    padding: 0px;
}
.formulario_container{

    display: flex;
    justify-content: center;
}
.Formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    font-weight: bold;
}
.botoes{
    display: flex;
    gap:20px;
    flex-direction: column;
}
.btn_enviar{
    display: flex;
    justify-content: center;
}
.enviar{
    background-color: #0B6B80   ;
    padding:20px;
    border-radius: 5px;
    color: #FFFFFF;
}
.selecionar{
    width: 25px;
    height: 25px;
}
.circulo{
    display: flex;
    justify-content: flex-start;
}
.admnistrador{
    display:flex;
    font-size:20px;
    justify-content: center;
    margin-bottom: 20px;
}