

.formulario_container{
    display: flex;
    justify-content: center;
   
}
.formulario2{
    display: flex;
    flex-direction: column;
}
.form2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    display: flex;
    justify-content: center;
   
    padding: 0px;
}
.container_form2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: #848484;
   
}
.formulario_container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    flex-direction: column;
}
