/* styles.css */
/* Frente.css */
.frente {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.titulo {
  font-size: 24px;
  color: #333;
}

.subtitulo {
  font-size: 18px;
  color: #555;
}

.imagem {
  max-width: 100%;
  height: auto;
}

/* Verso.css */
.verso {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.Categoria {
  font-size: 24px;
  color: #333;
}

.subtitulo {
  font-size: 18px;
  color: #555;
}

.contato {
  font-size: 16px;
  color: #777;
}
