@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
body{
  --color-background:#fff ;
  --color-foreground:  #1f2023;;

}
body.dark {
  --color-background: #1f2023;
  --color-foreground: #efefef;
  
}

*{
  margin:0px;
  padding:0px;
}
.toggle{
  display: flex;
  justify-content: center;
}
.container {
  height: 100vh;
}
.metadados{
  font-size: 15px;
  color: var(--color-foreground);
}
.pagina{
  display: flex;
  justify-content: center;
}
.descricao{
  font-size: 18px;
  color: var(--color-foreground);
}
.imagem{
  object-fit:cover;
  height: 150px;
  width: 100%;
}
.titulo{
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
.flip-card-outer {
  width: 300px;
  max-width: 500px;
  height: 400px;
  margin: 25px 0;


  &.focus-trigger:focus {
    outline: 5px solid greenyellow;
    outline-offset: 5px;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .5s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;

    &.hover-trigger:hover {
      transform: rotateY(180deg);
    }

    &.showBack {
      transform: rotateY(180deg);
    }
  
    .card {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y:scroll ;
      overflow-x: scroll;
  
      &.front {
        transform: rotateY(0);
        font-size: 36px;
        background-color:var(--color-background);
        color: var(--color-foreground);
      }
  
      &.back {
        transform: rotateY(180deg);
        background-color: var(--color-background);
        color:var(--color-foreground) 
      }
    }
  }
  
}
@media (prefers-color-scheme:light ) {
  body {
    --color-background:#dadada;
    --color-foreground:#003459;
    
  }
}
@media (min-width: 501px) and (max-width: 1000px){
  .flip-card-outer {
    width: 500px;
    max-width: 500px;
    height: 300px;
    margin: 25px 0;
   
    
}

.frente{
  display: flex;
  flex-direction: row;
  gap:15px;
}
.imagem{
  max-height: fit-content;
}
.descricao{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}

}